<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="container">
        Name:
        <br />
        <input type="text" ng-model="firstName" /><div>{{firstName}}</div>
    </div>

    <div class="container" ng-init="people=[{name: 'Pesho', age: 15, city:'Sofia'},
         {name:'Gosho', age: 33, city:'Plovdiv'}, {name:'Kamen', age: 25, city:'Varna'}]">
        <h4>Test ng-repeat:</h4>
        <div ng-repeat="person in people | orderBy: 'city' | filter:firstName">
        {{person.name | uppercase}} - {{person.age | currency:'€'}} - {{person.city}} </div>
    </div>

    <script src="lib/angular.min.js"></script>
</body>
</html>
